# XSLX to JSON

In [87]:
import pandas
import json

# filename = '繁中翻英法律1.2N'
# filename = 'GCP+PA-年報(0110-2)_TO TR'
filename = "TM-SUZUKI RM-2020"
# filename = 'TM-SUZUKI OM-總TM(2020)'
# filename = 'FR第3.0模型--新+舊訓練+測試+驗證集_final'

# Read excel document
excel_data_df = pandas.read_excel(f'ptsgi/xlsx/{filename}.xlsx')

In [88]:
excel_data_df.head()

  >>L<<English (United States) >>L<<Chinese (Traditional, Taiwan)
0         SX4 (AKK416/AKK416D)               SX4 (AKK416/AKK416D)
1   TSMJYA22S00100001 ~ 999999         TSMJYA22S00100001 ~ 999999
2   TSMYA22S#EM100001 ~ 999999         TSMYA22S#EM100001 ~ 999999
3               DTC (        )                     DTC (        )
4                       P073E:                             P073E：

In [89]:
# df = excel_data_df.rename({'Source': 'input', 'Target': 'output'}, axis=1)
# df = excel_data_df.rename({'>>L<<English (United States)': 'output', '>>L<<Chinese (Traditional, Taiwan)': 'input'}, axis=1)
df = excel_data_df.rename({'>>L<<Chinese (Traditional, Taiwan)': 'input'}, axis=1)

In [90]:
# df['instruction'] = '''Please translate the following Chinese text into English.
# Please only generate the translated text, without any extra content.
# '''
df['instruction'] = '''There are 7 types of documents, Accounting and Finance, Law, Electronics, Machinery, Games, Literature, History and Philosophy, and Marketing and Business Management.
Which one do you think the following Chinese texts belong to?
Please only generate the answer text, without any extra content.
'''

df['output'] = 'Machinery'
# If there\'s any tag started with "<" and end with ">", like <:t> or <a>, in the original texts, do not modify or remove them and just keep them there.'

In [91]:
cols = df.columns.tolist()
cols

['>>L<<English (United States)', 'input', 'instruction', 'output']

In [92]:
# cols = [cols[0], cols[3], cols[2]]
cols = cols[1:4]
# cols = [cols[0], cols[6], cols[5]]
df = df[cols]

In [93]:
cols

['input', 'instruction', 'output']

In [94]:
len(df)

392364

In [95]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.1)

In [96]:
# Convert excel to string 
# (define orientation of document in this case from up to down)
# thisisjson = df.to_json(orient='records')
trainjson = train.to_json(orient='records')
testjson = test.to_json(orient='records')

In [97]:
# Make the string into a list to be able to input in to a JSON-file
# thisisjson_dict = json.loads(thisisjson)
train_dict = json.loads(trainjson)
test_dict = json.loads(testjson)

In [98]:
# Define file to write to and 'w' for write option -> json.dump() 
# defining the list to write from and file to write to
# with open(f'{filename}(wo instruction).json', 'w', encoding='utf8') as json_file:
# with open(f'{filename}.json', 'w', encoding='utf8') as json_file:
# with open(f'ptsgi/json/{filename}.json', 'w', encoding='utf8') as json_file:
#     json.dump(thisisjson_dict, json_file, ensure_ascii=False)
    
# with open(f'ptsgi/json/{filename}_train_90.json', 'w', encoding='utf8') as json_file:
#     json.dump(train_dict, json_file, ensure_ascii=False)
    
# with open(f'ptsgi/json/{filename}_test_10.json', 'w', encoding='utf8') as json_file:
#     json.dump(test_dict, json_file, ensure_ascii=False)
    
with open(f'ptsgi/json/{filename}_cat_train_90.json', 'w', encoding='utf8') as json_file:
    json.dump(train_dict, json_file, ensure_ascii=False)
    
with open(f'ptsgi/json/{filename}_cat_test_10.json', 'w', encoding='utf8') as json_file:
    json.dump(test_dict, json_file, ensure_ascii=False)

## JSON to XLSX

In [42]:
import pandas as pd
filename = "llama3_FT_客戶"
# filename_noft = "llama3_NoFT_年報"
df_ft = pd.read_json(f"{filename}.json", encoding='utf8').rename({'input': '>>L<<Chinese (Traditional, Taiwan)', 'output': '>>L<<English (United States)'}, axis=1)
# df_noft = pd.read_json(f"{filename_noft}.json", encoding='utf8').rename({'input': '>>L<<Chinese (Traditional, Taiwan)', 'output': '>>L<<English (United States)'}, axis=1)

In [43]:
df_ft.to_excel(f"{filename}.xlsx", index=False)

In [34]:
# extracted_col = df_ft[">>L<<English (United States)"]
# extracted_col

In [33]:
# df = pd.concat([df_noft, extracted_col.rename("FT >>L<<English (United States)")], axis=1)
# df

In [31]:
# df.to_excel(f"llama3_{filename[-2:]}.xlsx", index=False)

## JSON to JSON

In [ ]:
import pandas as pd
import json
filename = "TM-SUZUKI OM-總TM(2020)_train"

df = pd.read_json(f"{filename}.json", encoding='utf8')
df_json = df.to_json(orient='records')
df_json_dict = json.loads(df_json)

with open(f'ptsgi/json/{filename}_cleanup.json', 'w', encoding='utf8') as json_file:
    json.dump(df_json_dict, json_file, ensure_ascii=False)

## TXT to JSON

In [82]:
import pandas as pd
filename_en = "TM-SUZUKI RM-2020_en"
filename_zh = "TM-SUZUKI RM-2020_zh"
filename = "TM-SUZUKI RM-2020"

data_en = open(f'ptsgi/txt/{filename_en}.txt').read().splitlines()
data_zh = open(f'ptsgi/txt/{filename_zh}.txt').read().splitlines()

In [83]:
df = pd.DataFrame({">>L<<English (United States)": data_en, ">>L<<Chinese (Traditional, Taiwan)": data_zh})

In [3]:
df = df.rename({'>>L<<English (United States)': 'output', '>>L<<Chinese (Traditional, Taiwan)': 'input'}, axis=1)

In [4]:
df['instruction'] = '''Please translate the following Chinese text into English.
Please only generate the translated text, without any extra content.
'''

In [84]:
df

,>>L<<English (United States),">>L<<Chinese (Traditional, Taiwan)"
0,SX4 (AKK416/AKK416D),SX4 (AKK416/AKK416D)
1,TSMJYA22S00100001 ~ 999999,TSMJYA22S00100001 ~ 999999
2,TSMYA22S#EM100001 ~ 999999,TSMYA22S#EM100001 ~ 999999
3,DTC ( ),DTC ( )
4,P073E:,P073E：
...,...,...
392359,Perform auto-down and auto-up operating power ...,執行電動窗主開關的自動下降和自動上升操作，確認車窗玻璃能升 / 降到底。
392360,NOTE,備註
392361,"5.0 N·m (0.51 kgf-m, 4.0 lbf-ft)","5.0 Nm (0.51 kgf-m, 4.0 lbf-ft)"
392362,If the fuel gauge indicates 7 segments or more...,若燃油表指示 7 格以上，在開始油箱拆卸之前，請使用特殊工具 (65700-93J14：
392363,The number is punched on the cowl upper panel ...,此號碼打印在引擎室內的前罩板上板。

In [6]:
import json
thisisjson = df.to_json(orient='records')
thisisjson_dict = json.loads(thisisjson)

In [7]:
with open(f'ptsgi/json/{filename}.json', 'w', encoding='utf8') as json_file:
    json.dump(thisisjson_dict, json_file, ensure_ascii=False)

## TXT to XLSX

In [86]:
df.to_excel(f"ptsgi/xlsx/{filename}.xlsx", index=False)